.matching_game {
  position: absolute;
  top: 25vh;
  left: 36vw;
  width: 28%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  border-radius: 5px;
  background-color: dimgray;
  backface-visibility: hidden;
}
h1 {
  font-size: 4vh;
  z-index: 99;
  position: absolute;
  text-align: center;
  top: 15%;
  left: 43%;
  color: rgb(0, 0, 0);
}
.back-face {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  border-radius: 5px;
  background-color: ghostwhite;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
