* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: linear-gradient(to right, #2c3e50, #3498db);
}

body {
  background: var(--primary-clr);
}

.nav-link {
  border-radius: 25px;
  margin: 0.4em;
  transition: transform 0.2s ease-out;
}

.nav-link:hover {
  border-radius: 25px;
  border: rgba(255, 255, 255, 0.637);
  background-color: rgba(255, 255, 255, 0.637);
  color: black;
  transform: scale(1.1);
}

p {
  color: white;
}

table {
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 2em;
}

#text-banner {
  border-radius: 0.2em;
  background-color: #282e3381;
  overflow: hidden;
  white-space: nowrap;
}

#text-banner p {
  animation: ScrolLeft 15s linear infinite;
}

@keyframes ScrolLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
